* {
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h2 {
    display: block;
    text-align: center;
}

ul {
    list-style-type: square;
    color: deepskyblue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.singles-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #2196F3;
    padding: 10px;
}

.home-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}

img {
    margin-bottom: 0;
    height: 90%;
    width: 90%;
    transform: translateY(5%);
}

#menu {
    margin: auto;
    width: auto;
    text-align: center;
}

a {
    color: wheat;
}

.links {
    width: 10px;
    display: inline;
    list-style-type: none;
    background-color: black;
    padding: 10px 0px;
    text-align: center;
}

.menu-links:hover {
    background-color: red;
}

.foot:hover {
    background-color: none;
    color: blue;
}

.foot {
    color: red;
}

p {
    font-style: italic;
}

#intro {
    background-color: lightgray;
    text-align: center;
    color: black;
}

hr {
    margin-top: 30px;
    color: black;
    padding: 0;
}

.navbar {
    height: 80px;
    position: relative;
}
